# Data Encoding

 Data Encoding helps us to convert a Categorical feature into a suitable Numerical feature to create a good model
 Types of Encoding
 
 1. OHE (One Hot Encoding)
 2. Ordinal and Label Encoding
 3. Target Guided Ordingal Encoding

## OHE (One Hot Encoding)

Disadvantage : 
    1. sparse matrix (0's and 1's) - eventually a overfitting
    2. if we have 1000  features then number of columns will be increased by OHE

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.DataFrame({'color':['red','blue','green','red','blue']})

In [5]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [15]:
# create an instance of One Hot Encoder
encoder = OneHotEncoder()

In [16]:
encoded = encoder.fit_transform(df[['color']])

In [18]:
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [19]:
pd.concat([df, encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

# Ordinal and Label Encoding

### Label encoding - auto encoding

In [20]:
import pandas as pd

In [21]:
from sklearn.preprocessing import LabelEncoder

In [23]:
# create a DateFrame with a categorical variable
df = pd.DataFrame({'color':['red','blue','green','red','blue']})

In [24]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [25]:
## Create an instance of label encoder
encoder = LabelEncoder()

In [28]:
encoded = encoder.fit_transform(df['color'])

In [29]:
encoded

array([2, 0, 1, 2, 0])

### here the encoder automatically assigned the rank according to the alphabet i.e, Blue - 0, green - 1, red - 2
Hence it may happen that ML model will assume red is greater tha blue and green

## Ordinal Encoding
We can encode rank wise using Ordinal Encoding

In [30]:
from sklearn.preprocessing import OrdinalEncoder

In [38]:
## create a dataframe
df = pd.DataFrame({'size':['small','medium','large','medium','small','large']})

In [39]:
encoder = OrdinalEncoder(categories = [['small','medium','large']])

In [40]:
encoded = encoder.fit_transform(df[['size']])

In [41]:
encoded

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

Here small is ranked as 0, medium as 1 and large as 2

# Target Guided Ordinal Encoding